html {
      height: 100%;
    }
    body {
       width: auto;
       height: 100%;
    }

    header {
        padding: 5px;
        font-size: 30px;
        font-family: cursive, sans-serif;
        text-align: center;
        color: black;
        display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		background-image: url("banner.jpg");
		background-size: cover;
		
    }
    nav {
        float: none;
        display: block;
        background: url("navbackground.jpg") 50% 0% repeat rgb(167, 188, 122);
        border-radius: 4px;
        border: 1px solid rgb(131, 155, 78);
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
    nav ul {
        padding: 10px ;
        float: none;
        border-bottom: 10px ;
        list-style-type: none;
      
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        font-size: 20px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: black ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
        margin-top: 30px;
    }
    /*aside {
        width: 17%;
        background-color: lightgrey;
        padding: 10px;
        min-height: 100%;
        float: none;
        display: 
    }
    aside ul {
        list-style-type: none;
    }*/
    
    footer {
        width: auto;
        background-color: lightgrey;
        color: black;
        clear: both;
        display: block;
		align-content: center;
    }
  /* #art {
        display: block;
    }*/
     #homepic {
        border-radius: 25%;
        
    }
    /*#home {
        float: left;
        padding-right: 150px;
        padding-left:150px;
    }
    #visit {
        float: center;
        padding-right: 150px;
        padding-left:350px;
    }
    #about {
        float: right;
        padding-right: 250px;
        padding-left:100px; 
    } */